.Button {
    display: inline-flex;
    border: solid 1px #b8b8b8;
    padding: 2px 15px 2px 15px;
    align-items: center;
}
.Button * {
    color: #b4b4b4;
}
.Button > svg {
    padding-left: 15px;
}

.Button:hover { background-color: #ffffff !important; }

.Button:hover * { color: #000000 !important;}